{% extends "auctions/layout.html" %}

{% block body %}





<div class="container border">
    <div class="row">
        <div class="col-8"><img class="card-img-top " src={{auction.image_url}} alt="Card image cap"
                style="height: 30rem;">
        </div>
        <div class="card col-4">

            <div class="card-body d-flex flex-column  border">
                <div>
                    <h5 class="card-title">{{auction.title}}</h5>
                </div>
                <div>
                    <p class="card-text">{{auction.description}} </p>
                </div>
                {%if message%}



                <div class="alert alert-danger mt-auto " role="alert">
                    {{message}}

                </div>


                {%endif%}
                <div class="border mt-auto">
                    <p class="card-text ">
                        <span style="font-weight: bold;">Price:</span>
                        {{auction.starting_bid}} $
                    </p>
                </div>
                <div class="mt-1 mb-0"> <a href="#" class="btn btn-primary btn-block  ">Place Bid</a></div>
                <div>
                    <form action="" method="post">
                        <!-- {% url 'watch' %} -->
                        {% csrf_token %}
                        <button name="watch" class="btn btn-primary btn-block mt-1" type="submit">watching</button>

                        <!-- value={{auction.id}} -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}